trace.enabled = true
report {
    enabled = true
    //file = "report.html"
}
params {
    bams = 'data/test.bam'
    samtoolsVers = '1.3,1.7'
    sambambaVers = '0.6.6,0.6.8-pre1'
}

process {
    //scratch = true
    container = { "${task.process}:${ver}" }
    tag = { "${task.process}-${command}-${ver}" }
    publishDir = { [ path: "out/${bam.baseName}", saveAs: { "${task.process}-${command}-${ver}" } ] } 
}

profiles {
    standard {
        process.executor = 'local'
        process.cpus = '2'
        process.memory = 8.GB
    }
}

//includeConfig "${baseDir}/envs/${params.env}.config"
